img {
    max-width: 100%;
}

p {
    font-size: 20px;
}
#ID-demo-layer-direction-t{
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
}
.sendinfo{
    background: rgba(255, 255, 255, 0.2);
}
.layui-layer-title{
    backdrop-filter: blur(8px);
}
section{
    margin: 20px;
}