img {
    max-width: 100%;
}

p {
    font-size: 1.1em;
}
#ID-demo-layer-direction-t{
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
}
.sendinfo{
    background: rgba(255, 255, 255, 0.2);
}
.layui-layer-title{
    backdrop-filter: blur(8px);
}
section{
    margin: 20px 0;
}
.icon-list{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    transform: scale(0.8);
}
section.message.-right {
    transform: scale(.8);
    margin-top: -25px;
    color: #7f8c8d;
}
.nes-balloon{
    padding: .5rem 1rem;
}
.nes-pokeball{
    animation-name:bigger;
    animation-duration: 0.8s;
    animation-direction:alternate;
    animation-iteration-count:infinite;
}
@keyframes bigger {
    from {transform: scale(1.1);}
    to {transform: scale(1.2);}
}
hr{
    border-bottom: 2px solid #eee;
}